@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
	<input type="number" id="count" value="" placeholder="Минимальная цена" />
	<button type="button" onclick="SendAjax()">Установить цену</button>
</div>
@section Scripts{ 
	<script type="text/javascript">
	function SendAjax() {
		$.ajax({
			type: 'POST',
			url:'/Parser/StartParsing',
			data: {
				MinValue: $('#count').val()
			},
			success: function () {
				console.log('success');
			}
		});
	}
		
	</script>
}
